.body{
	font-family: Courier;
	background: #FDF5E6;
	width: 80%;
	margin: 0 auto;
}

.home{
	display: flex;
	justify-content: space-around;
	background: #D8BFD8;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	color: white;
}

.menu__item {
	display: flex;
	margin: 50px 50px;
}

.logo {
	display: flex;
	width: 200px;
	height: 200px;
	background: url(img/logo.png) center no-repeat;
	background-size: cover;
}

.phone {
	display: flex;
	margin: 30px 30px;
}

.block {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.block__item {
	display: flex;
	background: #D8BFD8;
	border: 2px solid #000;
	padding: 50px 100px;
	margin: 10px 0px;
	flex-direction: column; 
	align-items: center;
}

.h3 {
	border-bottom: 1px solid #111;
}

.product{
	display: flex;
	justify-content: space-around;
}

.foto{
	display: flex;
	height: 400px;
}

.button {
	background: #D8BFD8;
	padding: 15px 25px;
	}

.price{
	display: flex;
	justify-content: space-around;
	margin: 10px;
}

.block_contact{
	display: flex;
	justify-content: space-between;
}